# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Conda/virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (keep raw small files, ignore processed large files)
processed/*.npy
processed/*.keras
processed/*.h5
raw/*.csv
raw/*.zip

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

